    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>I’m a Full-Stack Developer, Music Producer, DJ, and Artist who thrives at the intersection of creativity and technology. I’ve been an a gifted artist and musician from a young age, throwing myself into whatever subject interested me in the moment. My interest in technology sparked during middle and high school, where I attended STEM programs and went on to competed at the national level in robotics through NZXT. These experiences allowed me to merge my love for art and technology, shaping the multidisciplinary career I have today.</p>
                <p>With over four years of experience as a developer, I specialize in Node.js and .NET application stacks, working with a wide range of languages for both web and application development. On the creative side, I’ve been a musician and artist for over 12 years, focusing on scoring, trap, and dubstep while pushing the boundaries of sound design.</p>
                <p>Whether I’m coding, producing music, or creating visual art, each of these disciplines informs the others, giving me a unique perspective on my work. My ultimate goal is to create things that last. While my time is finite, I aim for everything I build—whether it’s a web app, musical composition, or a piece of art—to have a lasting impact that outlives me.</p>
            </div>
        </div>
    </section>